# 系统变量

HomeAssistant_IP=192.168.77.4
HomeAssistant_PORT=8123

HomeAgent_IP=192.168.77.254
HomeAgent_PORT=8081

USER = cst-zyd
PASS = zyd

AI_MODEL= deepseek-4-flash
AI_API_URL = https://api.deepseek.ai/v1
AI_API_KEY = sk-xxx